* {
    margin: 0;
    padding: 0;
  }

img{
    object-fit: cover;
}

/* @font-face {
    font-family:'Aubrey';
    src: url('../fonts/msmincho.ttf') format('TrueType');
} */

@font-face {
    font-family:'Nexa';
    src: url('../fonts/nexa.ttf') format('TrueType');
}

h2, p{
    font-family: 'Nexa'
}

.index h2{
   font-weight: 900;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-top: 2.5em;
    text-transform: uppercase;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Nexa'
}

/* -------------------index---------------------- */

.index header{
    position: absolute;
    text-align: center;
    left: 23em;
}

.index header h2{
    padding-top: 0.07em;
}

.index header h1{
    font-size: 8em;
    margin-top: -0.01em;
}

header {
    text-align: center;
    margin-top: 50px;
}

header h1{
    margin-top: 1.6em;
    font-size: 3.5em;
    font-family: 'Aubrey'
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.afbeeldingen{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.afbeeldingen img{
    padding-top: 1.5em;
}

.big-image {
    width: 60vw;
    margin: 0 auto;
}

.small-image {
    width: 50px;
    height: auto;
    margin: 0 auto;
}

.image-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3em;
    margin-bottom: 3em;
}

.image-grid a{
    color: white;
    text-align: center;
    text-decoration: none;
}

.image-grid img {
    opacity: 1;
    transition: opacity 0.3s ease;
    cursor: default;
    width: 30vw;
    margin-bottom: 20px;
    width: 30vw;
}

.image-grid img:hover {
    opacity: 0.4;
    cursor: pointer;
}

/* -------------------over---------------------- */

.over main{
    margin-left: 5em;
    margin-top: 2em;
}

.over-container{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1em;
    margin-right: 6em;
}

.over-container img{
    width: 25vw;
    padding-left: 3em;
}

.over-container div p{
    padding-left: 0.7em;
    padding-top: 0.3em;
    font-size: 4em;
    font-weight: 200;
}

/* -------------------werk---------------------- */

.main-werk{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.main-werk section{
    display: flex;
    flex-direction: column;
}

.main-werk section h2{
    margin-bottom: 1em;
    margin-top: 2em;
}

.main-werk section div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-werk section div img{
    height: 35vh;
    margin-bottom: 4em;
    padding-right: 0.3em;
}

video{
    height: 45vh;
}

/* -------------------contact---------------------- */


.main-contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 3em;
}

.main-contact h2{
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-size: 4.5em;
    border-bottom: 2px solid white;
}

.socials{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.socials img{
    width: 7vw;
}

.telefoonenmail {
    display: flex;
    flex-direction: column;
    margin-top: 32em;
    margin-right: 1em;
}

.telefoonenmail div{
    margin-top: 1em;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
